.container.category-posts {
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2rem;
  position: relative; 
  max-width: 90%;
  }
  
  .posts-list {
    display: flex;
    flex-direction: column;
  }
  
  .post-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #333;
  }
  
  .post-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .post-info h2 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  .post-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
  }
  .stamp {
    position: absolute;
    top: -1rem;
    left: 1 rem;
    transform: rotate(0deg);
    transform-origin: left top;
    background-color: #f1f1f1;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-size: 1.4rem;
    color: #333;
    font-weight: 600;
  }
  
  /* Anpassa rubrikens stil */
  .stamp h1 {
    font-size: 1rem;
    margin: 0;
    color: #333;
  }
  .pagination-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
    transition: transform 0.3s ease;
  }
  
  .page-item:hover {
    transform: scale(1.1);
  }
  
  .page-link {
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    background-color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: #f1f1f1;
    color: #0056b3;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    animation: activePageAnimation 0.3s ease-in-out;
  }
  @media (max-width: 767px) {
    .stamp {
        font-size: 1rem; /* Mindre storlek på mobilen */
        padding: 0.25rem 0.5rem; /* Justera padding för mindre storlek */
    }
}
  @keyframes activePageAnimation {
    0% {
      transform: scale(1);
      background-color: #007bff;
      color: white;
    }
    50% {
      transform: scale(1.1);
      background-color: #0056b3;
      color: #e2e6ea;
    }
    100% {
      transform: scale(1);
      background-color: #007bff;
      color: white;
    }
    
  }